/* Estilos globales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d017d;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado (h1 y h2) */

/* Estilos para el encabezado (h1 y h2) */
h1 {
    font-size: 36px;
    color: #fff; /* Cambia el color a blanco */
    text-align: center;
    padding: 20px;
    background-color: #1e90ff;
}

h2 {
    font-size: 24px;
    color: #fff; /* Cambia el color a blanco */
    text-align: center;
    margin: 20px 0;
}


/* Estilos para el párrafo de introducción */

p.text {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
    line-height: 1.6;
}

/* Estilos para las secciones */

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos de sección (h3 y h4) */

h3#3 {
    font-size: 24px;
    color: #1e90ff;
    margin: 20px 0;
}

h4 {
    font-size: 20px;
    margin: 10px 0;
}

/* Estilos para las imágenes */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilos para los íconos de habilidades */

#icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#icon-container p {
    margin: 10px;
    text-align: center;
}


/* Estilos para el pie de página */

footer {
    text-align: center;
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
